* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

body .contenitore {
    width: 100%;
    min-height: 500px;
    min-width: 500px;
    height: 100vh;
    background-color: black;
}

/*css header*/
header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 5%;
    align-items: center;
}

header i, 
header span {
    color: white;
}

header div {
    background-color: grey;
    text-align: center;
    border-radius: 5%;
}

.header-speaker {
    width: 11%;
    margin-right: 1em;
}

.header-full-screen {
    width: 2%;
    margin-right: 0.5em;
}
/*fine css header*/

/*inizio css main*/
main {
    height: 80%;
    width: 90%;
    margin: 1em auto 0 auto;
    justify-content: space-between;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    min-height: 300px;
    min-width: 300px;
    overflow-y: scroll;
}

main .utente {
    width: 170px;
    height: 90px;
    background-image: url(../img/unnamed.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}

.utente .utente-nome {
    font-size: 0.6em;
    width: 40%;
    background-color: grey;
    color: white;
}

/*fine css main*/

/*inizio css nav*/
nav {
    width: 100%;
    height: 10%;
    display: flex;
    margin-top: 1em;
    justify-content: space-between;
    flex-direction: row;
    overflow: hidden;
    background-color: rgb(46, 45, 45);
}

.nav-colonna-sx {
    color: white;
    flex-basis: 25%;
}

.nav-colonna-sx,
.nav-colonna-cx,
.nav-colonna-dx {
    color: white;
    height: 100%;
    display: flex;
    align-items: center; 
}

.nav-colonna-cx {
    height: 100%;
    flex-basis: 65%;
}

.nav-colonna-dx {
    height: 100%;
    flex-basis: 10%;
}

.sx-contenitore,
.cx-contenitore,
.dx-contenitore{
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.sx-contenitore:hover,
.cx-contenitore:hover {
    background-color: grey;
}

.simbolo:hover {
    background-color: rgb(82, 82, 82);
}

.ico {
    text-align: center;
    margin-right: 0.5em;
}

.ico span {
    font-size: 0.7em;
    display: block;
}

.fa-chevron-up {
    font-size: 0.5em;
}

.fa-share-square {
    color: greenyellow;
}

.nav-colonna-dx {
    background-color: rgb(59, 58, 58);
    width: 100%;
}

.nav-colonna-dx a {
    text-decoration: none;
    color: red;
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 0.8em
}

.nav-colonna-dx:hover {
    background-color: rgb(82, 82, 82);   
}
/*fine css mav*/